/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #f1f7f8;
}

.hero {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(16, 14, 14);
  padding: 20px;
  background-color: rgba(245, 202, 202, 0.4); /* Optional overlay */
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.highlight {
  color: #870a44;
}

.hero-content p {
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.cta {
  padding: 12px 24px;
  background: #870a44;
  color: #f4f0f0;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.cta:hover {
  transform: scale(2);
}
